@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'media-queries';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

$black: #1b1a18;
$blue: #77aaff;
$pink: #ff77aa;

body {
    color: $black;
    overflow-x: hidden;
    width: 100%;
}

header {
    height: 100vh;
    min-height: 750px;
    position: relative;

    .logo {
        height: 100px;
        margin-left: 5%;
        margin-top: 5%;

        @include width1000 {
            height: 75px;
        }
    }

    .typing-container {
        height: calc(750px - 100px);
        width: 50%;
        display: flex;
        align-items: center;

        .typing {
            display: inline;
            position: relative;
            font-size: 75px;
            margin-left: 10%;

            @include width1000 {
                font-size: 60px;
            }
    
            &::after {
                content: '';
                position: absolute;
                width: 1px;
                height: 75px;
                border-right: 2px solid $black;
                animation: blink 1s steps(1) infinite;

                @include width1000 {
                    height: 60px;
                }
    
                @keyframes blink {
                    50% {
                        border-color: transparent;
                    }
                }
            }
        }
    }

    .color-blocks {
        position: absolute;
        overflow: hidden;
        top: 0;
        right: 0;
        height: 100%;
        width: 10%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        'black-block'
        'blue-block'
        'pink-block';

        .black-block {
            background: $black;
            grid-area: black-block;
            position: absolute;
            height: 100%; 
            width: 100%;
            left: 100%;
            transition: left 1s ease;
        }

        .blue-block {
            @extend .black-block;
            background: $blue;
            grid-area: blue-block;
            transition: left 1.5s ease;
        }

        .pink-block {
            @extend .black-block;
            background: $pink;
            grid-area: pink-block;
            transition: left 2s ease;
        }
    }
}

.content {
    background: whitesmoke;

    nav {
        width: 100%;
        height: 200px;
        display: grid;
        align-items: center;

        ul {
            display: flex;
            width: 25%;
            height: 30px;
            margin: 0 auto;
            justify-content: space-between;
            position: relative;

            @include width1000 {
                width: 50%;
            }

            @include width400 {
                width: 75%;
            }

            li {
                list-style: none;
                font-weight: bold;
                font-size: 20px;
                cursor: pointer;
                color: $black;
            }

            .underline {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 78px;
                height: 4px;
                background: $blue;
                transition: all 1s ease;
            }
        }
    }

    .content-container {
        position: relative;
        height: calc(85px + 1*(2em) + 2*(250px));

        @include width1300 {
            height: calc(85px + 2*(2em) + 3*(250px));
        }

        @include width1000 {
            height: calc(85px + 5*(2em) + 6*(250px));
        }

        @include width500 {
            height: calc(85px + 5*(2em) + 6*(200px));
        }

        @include width400 {
            height: calc(85px + 5*(2em) + 6*(180px));
        }

        .work-container {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 1s ease;

            .my-work {
                display: grid;
                width: 1215px;
                margin: 0 auto;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 2em;

                @include width1300 {
                    grid-template-columns: 1fr 1fr;
                    width: 940px;
                }

                @include width1000 {
                    grid-template-columns: 1fr;
                    width: 485px;
                }

                @include width600 {
                    width: 75%;
                }

                .project-container {
                    position: relative;
                    background: white;
                    height: 250px;
                    overflow: hidden;
                    border-radius: 10px;

                    @include width500 {
                        height: 200px;
                    }

                    @include width400 {
                        height: 180px;
                    }

                    &:hover .bio {
                        height: 80%;
                    }

                    &:hover .view, .visit {
                        height: 20%;
                    }

                    .bio {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 0;
                        width: 100%;
                        overflow: hidden;
                        display: grid;
                        place-content: center;
                        background: $black;
                        color: white;
                        transition: all 0.75s ease;
                        opacity: 0.95;
                    }

                    .view {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 50%;
                        height: 0;
                        display: grid;
                        place-content: center;
                        background: $blue;
                        color: white;
                        overflow: hidden;
                        transition: height 0.5s ease;
                        cursor: pointer;

                        &:hover {
                            background: white;
                            color: $blue;
                        }
                    }

                    .only-view {
                        @extend .view;
                        width: 100%;
                    }

                    .visit {
                        @extend .view;
                        left: 50%;
                        background: $pink;
                        transition: height 1s ease;

                        &:hover {
                            background: white;
                            color: $pink;
                        }
                    }
                }

                .thumbnail-container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .thumbnail {
                        height: 65%;
                        margin: 0 auto;
                        border-radius: 10px;
                        box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
                    
                        @include width500 {
                            height: 65%;
                        }

                        @include width400 {
                            height: 55%;
                        }
                    }
                }

                #project1 {
                    background: #A6654E;
                }

                #project2 {
                    background: #8C8369;
                }

                #project3 {
                    background: #329AA6
                }

                #project4 {
                    background: #2E56A6;
                }

                #project5 {
                    background: #F20505;
                }

                #project6 {
                    background: #9163F2;

                    #closeup {
                        position: absolute;
                        top: 25%;
                        left: 10%;
                        height: 90%;

                        @include width1300 {
                            left: 60px;
                        }

                        @include width600 {
                            display: none;
                        }
                    }

                    #mobile {
                        position: absolute;
                        right: 10%;
                        height: 70%;

                        @include width1300 {
                            height: 75%;
                            right: 60px;
                        }

                        @include width600 {
                            height: 90%;
                            position: static;
                        }
                    }
                }

            }
        }

        .about-container {
            @extend .work-container;
            left: 200vw;
            display: grid;
            place-content: center;

            @include width1000 {
                display: block;
            }
            
            .about-me {
                height: 617px;
                width: 912px;
                display: grid;
                grid-template-rows: 1fr 1fr;

                @include width1000 {
                    height: 100%;
                    width: 100%;
                }

                @include width500 {
                    grid-template-rows: 2fr 1fr;
                }

                @include width400 {
                    grid-template-rows: 1fr 1fr;
                }

                .profile {
                    display: flex;
                    align-items: flex-start;
                    height: 310px;

                    @include width1000 {
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        height: 100%;
                    }

                    .profile-pic {
                        width: 280px;

                        @include width1000 {
                            width: 400px;
                        }

                        @include width500 {
                            width: 350px;
                        }

                        @include width400 {
                            width: 300px;
                        }
                    }

                    .profile-bio {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        width: 550px;
                        height: 100%;
                        margin-left: auto;
                        font-size: 25px;

                        @include width1000 {
                            margin-left: unset;
                            text-align: center;
                            align-items: center;
                            height: 50%;
                        }

                        @include width600 {
                            width: 75%;
                        }

                        @include width400 {
                            font-size: 20px;
                        }

                        span {
                            color: $blue;
                            font-weight: bold;
                            z-index: 1;
                        }

                        .resume {
                            display: grid;
                            place-content: center;
                            width: 300px;
                            height: 60px;
                            font-size: 20px;
                            font-weight: bold;
                            background: $black;
                            color: white;
                            overflow: hidden;
                            cursor: pointer;
                            position: relative;
                            text-decoration: none;

                            @include width400 {
                                width: 250px;
                            }

                            span {
                                color: white;
                            }

                            &:hover span {
                                color: $black;
                            }

                            &:hover::before {
                                left: 0;
                            }

                            &::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: -100%;
                                height: 100%;
                                width: 100%;
                                background: white;
                                transition: all 0.5s ease;
                            }
                        }
                    }
                }
            }

            .skills {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;

                @include width1000 {
                    height: 50%;
                    width: 50%;
                    margin: 0 auto;
                    justify-content: center;
                }

                @include width500 {
                    height: 100%;
                }

                @include width400 {
                    width: 80%;
                }

                .wrapper {
                    display: grid;
                    place-content: center;
                    width: 100px;

                    .skill {
                        width: 50px;
                    }
                }
            }

        }
    }
}

.contact {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    .contact-container {
        width: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @include width1000 {
            width: 40%;
        }

        @include width500 {
            width: 50%;
        }
        
        .github {
            color: $black;
            padding: 10px 15px;  
            font-size: 30px;  
            position: relative;  
            overflow: hidden;
            border-radius: 10px;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 100%;
                left: 0;
                background: $black;
                z-index: -1;
                transition: all 0.5s ease;
            }

            &:hover {
                color: white;
            }

            &:hover::before {
                top: 0;
            }
        }

        .linkedin {
            @extend .github;
            padding: 10px 15px;
            color: $blue;

            &::before {
                background: $blue;
            }
        }

        .mail {
            @extend .github;
            color: $pink;

            &::before {
                background: $pink;
            }
        }  
    }
}