@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  color: #1b1a18;
  overflow-x: hidden;
  width: 100%;
}

header {
  height: 100vh;
  min-height: 750px;
  position: relative;
}

header .logo {
  height: 100px;
  margin-left: 5%;
  margin-top: 5%;
}

@media screen and (max-width: 1000px) {
  header .logo {
    height: 75px;
  }
}

header .typing-container {
  height: calc(750px - 100px);
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .typing-container .typing {
  display: inline;
  position: relative;
  font-size: 75px;
  margin-left: 10%;
}

@media screen and (max-width: 1000px) {
  header .typing-container .typing {
    font-size: 60px;
  }
}

header .typing-container .typing::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 75px;
  border-right: 2px solid #1b1a18;
  -webkit-animation: blink 1s steps(1) infinite;
          animation: blink 1s steps(1) infinite;
}

@media screen and (max-width: 1000px) {
  header .typing-container .typing::after {
    height: 60px;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

header .color-blocks {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  height: 100%;
  width: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 'black-block' 'blue-block' 'pink-block';
}

header .color-blocks .black-block, header .color-blocks .blue-block, header .color-blocks .pink-block {
  background: #1b1a18;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: black-block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 100%;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}

header .color-blocks .blue-block {
  background: #77aaff;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: blue-block;
  -webkit-transition: left 1.5s ease;
  transition: left 1.5s ease;
}

header .color-blocks .pink-block {
  background: #ff77aa;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: pink-block;
  -webkit-transition: left 2s ease;
  transition: left 2s ease;
}

.content {
  background: whitesmoke;
}

.content nav {
  width: 100%;
  height: 200px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 30px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .content nav ul {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .content nav ul {
    width: 75%;
  }
}

.content nav ul li {
  list-style: none;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  color: #1b1a18;
}

.content nav ul .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 78px;
  height: 4px;
  background: #77aaff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.content .content-container {
  position: relative;
  height: calc(85px + 1*(2em) + 2*(250px));
}

@media screen and (max-width: 1300px) {
  .content .content-container {
    height: calc(85px + 2*(2em) + 3*(250px));
  }
}

@media screen and (max-width: 1000px) {
  .content .content-container {
    height: calc(85px + 5*(2em) + 6*(250px));
  }
}

@media screen and (max-width: 500px) {
  .content .content-container {
    height: calc(85px + 5*(2em) + 6*(200px));
  }
}

@media screen and (max-width: 400px) {
  .content .content-container {
    height: calc(85px + 5*(2em) + 6*(180px));
  }
}

.content .content-container .work-container, .content .content-container .about-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.content .content-container .work-container .my-work, .content .content-container .about-container .my-work {
  display: -ms-grid;
  display: grid;
  width: 1215px;
  margin: 0 auto;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

@media screen and (max-width: 1300px) {
  .content .content-container .work-container .my-work, .content .content-container .about-container .my-work {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 940px;
  }
}

@media screen and (max-width: 1000px) {
  .content .content-container .work-container .my-work, .content .content-container .about-container .my-work {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 485px;
  }
}

@media screen and (max-width: 600px) {
  .content .content-container .work-container .my-work, .content .content-container .about-container .my-work {
    width: 75%;
  }
}

.content .content-container .work-container .my-work .project-container, .content .content-container .about-container .my-work .project-container {
  position: relative;
  background: white;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  .content .content-container .work-container .my-work .project-container, .content .content-container .about-container .my-work .project-container {
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  .content .content-container .work-container .my-work .project-container, .content .content-container .about-container .my-work .project-container {
    height: 180px;
  }
}

.content .content-container .work-container .my-work .project-container:hover .bio, .content .content-container .about-container .my-work .project-container:hover .bio {
  height: 80%;
}

.content .content-container .work-container .my-work .project-container:hover .view, .content .content-container .about-container .my-work .project-container:hover .view, .content .content-container .work-container .my-work .project-container:hover .only-view, .content .content-container .about-container .my-work .project-container:hover .only-view, .content .content-container .work-container .my-work .project-container:hover .visit, .content .content-container .about-container .my-work .project-container:hover .visit, .content .content-container .work-container .my-work .project-container .visit, .content .content-container .about-container .my-work .project-container .visit {
  height: 20%;
}

.content .content-container .work-container .my-work .project-container .bio, .content .content-container .about-container .my-work .project-container .bio {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background: #1b1a18;
  color: white;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
  opacity: 0.95;
}

.content .content-container .work-container .my-work .project-container .view, .content .content-container .about-container .my-work .project-container .view, .content .content-container .work-container .my-work .project-container .only-view, .content .content-container .about-container .my-work .project-container .only-view, .content .content-container .work-container .my-work .project-container .visit, .content .content-container .about-container .my-work .project-container .visit {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 0;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background: #77aaff;
  color: white;
  overflow: hidden;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
  cursor: pointer;
}

.content .content-container .work-container .my-work .project-container .view:hover, .content .content-container .about-container .my-work .project-container .view:hover, .content .content-container .work-container .my-work .project-container .only-view:hover, .content .content-container .about-container .my-work .project-container .only-view:hover, .content .content-container .work-container .my-work .project-container .visit:hover, .content .content-container .about-container .my-work .project-container .visit:hover {
  background: white;
  color: #77aaff;
}

.content .content-container .work-container .my-work .project-container .only-view, .content .content-container .about-container .my-work .project-container .only-view {
  width: 100%;
}

.content .content-container .work-container .my-work .project-container .visit, .content .content-container .about-container .my-work .project-container .visit {
  left: 50%;
  background: #ff77aa;
  -webkit-transition: height 1s ease;
  transition: height 1s ease;
}

.content .content-container .work-container .my-work .project-container .visit:hover, .content .content-container .about-container .my-work .project-container .visit:hover {
  background: white;
  color: #ff77aa;
}

.content .content-container .work-container .my-work .thumbnail-container, .content .content-container .about-container .my-work .thumbnail-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .content-container .work-container .my-work .thumbnail-container .thumbnail, .content .content-container .about-container .my-work .thumbnail-container .thumbnail {
  height: 65%;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
          box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

@media screen and (max-width: 500px) {
  .content .content-container .work-container .my-work .thumbnail-container .thumbnail, .content .content-container .about-container .my-work .thumbnail-container .thumbnail {
    height: 65%;
  }
}

@media screen and (max-width: 400px) {
  .content .content-container .work-container .my-work .thumbnail-container .thumbnail, .content .content-container .about-container .my-work .thumbnail-container .thumbnail {
    height: 55%;
  }
}

.content .content-container .work-container .my-work #project0, .content .content-container .about-container .my-work #project0 {
  background: #1db954;
}

.content .content-container .work-container .my-work #project1, .content .content-container .about-container .my-work #project1 {
  background: #A6654E;
}

.content .content-container .work-container .my-work #project2, .content .content-container .about-container .my-work #project2 {
  background: #8C8369;
}

.content .content-container .work-container .my-work #project3, .content .content-container .about-container .my-work #project3 {
  background: #329AA6;
}

.content .content-container .work-container .my-work #project4, .content .content-container .about-container .my-work #project4 {
  background: #2E56A6;
}

.content .content-container .work-container .my-work #project5, .content .content-container .about-container .my-work #project5 {
  background: #F20505;
}

.content .content-container .work-container .my-work #project6, .content .content-container .about-container .my-work #project6 {
  background: #9163F2;
}

.content .content-container .work-container .my-work #project6 #closeup, .content .content-container .about-container .my-work #project6 #closeup {
  position: absolute;
  top: 25%;
  left: 10%;
  height: 100%;
}

@media screen and (max-width: 1300px) {
  .content .content-container .work-container .my-work #project6 #closeup, .content .content-container .about-container .my-work #project6 #closeup {
    left: 60px;
  }
}

@media screen and (max-width: 600px) {
  .content .content-container .work-container .my-work #project6 #closeup, .content .content-container .about-container .my-work #project6 #closeup {
    display: none;
  }
}

.content .content-container .work-container .my-work #project6 #mobile, .content .content-container .about-container .my-work #project6 #mobile {
  position: absolute;
  right: 10%;
  height: 80%;
}

@media screen and (max-width: 1300px) {
  .content .content-container .work-container .my-work #project6 #mobile, .content .content-container .about-container .my-work #project6 #mobile {
    height: 80%;
    right: 60px;
  }
}

@media screen and (max-width: 600px) {
  .content .content-container .work-container .my-work #project6 #mobile, .content .content-container .about-container .my-work #project6 #mobile {
    height: 90%;
    position: static;
  }
}

.content .content-container .about-container {
  left: 200vw;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

@media screen and (max-width: 1000px) {
  .content .content-container .about-container {
    display: block;
  }
}

.content .content-container .about-container .about-me {
  height: 617px;
  width: 912px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

@media screen and (max-width: 1000px) {
  .content .content-container .about-container .about-me {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .content .content-container .about-container .about-me {
    -ms-grid-rows: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  .content .content-container .about-container .about-me {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

.content .content-container .about-container .about-me .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 310px;
}

@media screen and (max-width: 1000px) {
  .content .content-container .about-container .about-me .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}

.content .content-container .about-container .about-me .profile .profile-pic {
  width: 280px;
}

@media screen and (max-width: 1000px) {
  .content .content-container .about-container .about-me .profile .profile-pic {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .content .content-container .about-container .about-me .profile .profile-pic {
    width: 350px;
  }
}

@media screen and (max-width: 400px) {
  .content .content-container .about-container .about-me .profile .profile-pic {
    width: 300px;
  }
}

.content .content-container .about-container .about-me .profile .profile-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 550px;
  height: 100%;
  margin-left: auto;
  font-size: 25px;
}

@media screen and (max-width: 1000px) {
  .content .content-container .about-container .about-me .profile .profile-bio {
    margin-left: unset;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50%;
  }
}

@media screen and (max-width: 600px) {
  .content .content-container .about-container .about-me .profile .profile-bio {
    width: 75%;
  }
}

@media screen and (max-width: 400px) {
  .content .content-container .about-container .about-me .profile .profile-bio {
    font-size: 20px;
  }
}

.content .content-container .about-container .about-me .profile .profile-bio span {
  color: #77aaff;
  font-weight: bold;
  z-index: 1;
}

.content .content-container .about-container .about-me .profile .profile-bio .resume {
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 300px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  background: #1b1a18;
  color: white;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  .content .content-container .about-container .about-me .profile .profile-bio .resume {
    width: 250px;
  }
}

.content .content-container .about-container .about-me .profile .profile-bio .resume span {
  color: white;
}

.content .content-container .about-container .about-me .profile .profile-bio .resume:hover span {
  color: #1b1a18;
}

.content .content-container .about-container .about-me .profile .profile-bio .resume:hover::before {
  left: 0;
}

.content .content-container .about-container .about-me .profile .profile-bio .resume::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content .content-container .about-container .skills {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1000px) {
  .content .content-container .about-container .skills {
    height: 50%;
    width: 50%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .content .content-container .about-container .skills {
    height: 100%;
  }
}

@media screen and (max-width: 400px) {
  .content .content-container .about-container .skills {
    width: 80%;
  }
}

.content .content-container .about-container .skills .wrapper {
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 100px;
}

.content .content-container .about-container .skills .wrapper .skill {
  width: 50px;
}

.contact {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-container {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px) {
  .contact .contact-container {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .contact .contact-container {
    width: 50%;
  }
}

.contact .contact-container .github, .contact .contact-container .linkedin, .contact .contact-container .mail {
  color: #1b1a18;
  padding: 10px 15px;
  font-size: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.contact .contact-container .github::before, .contact .contact-container .linkedin::before, .contact .contact-container .mail::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  background: #1b1a18;
  z-index: -1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact .contact-container .github:hover, .contact .contact-container .linkedin:hover, .contact .contact-container .mail:hover {
  color: white;
}

.contact .contact-container .github:hover::before, .contact .contact-container .linkedin:hover::before, .contact .contact-container .mail:hover::before {
  top: 0;
}

.contact .contact-container .linkedin {
  padding: 10px 15px;
  color: #77aaff;
}

.contact .contact-container .linkedin::before {
  background: #77aaff;
}

.contact .contact-container .mail {
  color: #ff77aa;
}

.contact .contact-container .mail::before {
  background: #ff77aa;
}
/*# sourceMappingURL=style.css.map */